/*

!/.bashrc
!/.gitconfig
!/.gitignore
!/.my-aliases.sh
!/.my-bindkeys.sh
!/.my-profile-scripts
!/.my-scripts
!/.my-shell-plugins
!/.my-setup
!/.myclirc
!/.p10k.zsh
!/.tmux.conf
!/.vimrc
!/.vimrc.less
!/.zprofile
!/.zshrc

!/.my-zsh-plugins
/.my-zsh-plugins/locations-array.zsh
/.my-zsh-plugins/array-locations.zsh
/.my-zsh-plugins/secret-variables.zsh

!/.config
/.config/*
!/.config/bat
!/.config/nvim
/.config/nvim/plugin/*
